<form #f = "ngForm" (ngSubmit) = "onSubmit(f)" class="form-horizontal" >
  
  <div class="form-group"  [ngClass]="aplicaCssErro(nome)">

      <div class="col-sm-12">
        <label for="nomes" [class.control-label]="!nome.valid && nome.touched">Nome</label>
      </div>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="nome" placeholder="Insira o nome"
             name="nome" [(ngModel)]="usuario.nome" required #nome="ngModel" >
             
            <app-campo-control-erro 
              [mostrarErro]="verificaValidTouched(nome)" 
              [msgErro]="msgErro(nome)">
            </app-campo-control-erro>
      </div>
      <!-- Util para quando for ver as classes para editar os estilos 
      <div>
        {{ nome.className }}
      </div> -->

  </div>
  <div class="form-group" [ngClass]="aplicaCssErro(email)">
      <div class="col-sm-12">
        <label for="email" [class.control-label]="!email.valid && email.touched">Email address</label>
      </div>
      <div class="col-sm-12">
        <input type="email" class="form-control" id="email" placeholder="your@email.com"
            name="email" [(ngModel)]="usuario.email" required email #email="ngModel" >
            
        <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched(email)" 
          [msgErro]="msgErro(email)">
         </app-campo-control-erro>
      </div>
  </div>

  <div ngModelGroup = "endereco">

    <div class="form-group">
      <div class="col-sm-3" [ngClass]="aplicaCssErro(cep)">
          <div>
            <label for="cep" [class.control-label]="!cep.valid && cep.touched" class="control-label">CEP</label>
          </div>
          <div>
            <input type="cep" class="form-control" id="cep" placeholder="00000-00"
                name="cep" ngModel required  #cep="ngModel" (blur)="consultaCep($event.target.value, f)">
                
            <app-campo-control-erro 
              [mostrarErro]="verificaValidTouched(cep)" 
              [msgErro]="msgErro(cep)"
              [mudarAltura]="true" >
            </app-campo-control-erro>

          </div>
        </div>

        <div class="col-sm-3" [ngClass]="aplicaCssErro(numero)">
        <label for="numero" [class.control-label]="!numero.valid && numero.touched">Número</label>
        <input type="numero" class="form-control" id="numero" placeholder=""
            name="numero" ngModel required  #numero="ngModel" >
            
        <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched(numero)" 
          [msgErro]="msgErro(numero)"
          [mudarAltura]="true" >
        </app-campo-control-erro>
      </div>

      <div class="col-sm-6" >
          <label for="complemento">Complemento</label>
          <input type="complemento" class="form-control" id="complemento" placeholder="Apartamento, andar..."
              name="complemento" ngModel   #complemento="ngModel" >
      </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro(rua)">

        <div class="col-sm-12">
          <label for="rua" [class.control-label]="!rua.valid && rua.touched">Rua</label>
        </div>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="rua" placeholder="Rua..."
              name="rua" ngModel required #rua="ngModel" >
              
        <app-campo-control-erro 
          [mostrarErro]="verificaValidTouched(rua)" 
          [msgErro]="msgErro(rua)">
        </app-campo-control-erro>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5" [ngClass]="aplicaCssErro(bairro)">
          <label for="bairro" [class.control-label]="!bairro.valid && bairro.touched">Bairro</label>
          <input type="bairro" class="form-control" id="bairro" 
              name="bairro" ngModel required  #bairro="ngModel" >
              
          <app-campo-control-erro 
            [mostrarErro]="verificaValidTouched(bairro)" 
            [msgErro]="msgErro(bairro)"
            [mudarAltura]="true" >
          </app-campo-control-erro>
        </div>

        <div class="col-sm-4" [ngClass]="aplicaCssErro(cidade)">
          <label for="cidade" [class.control-label]="!cidade.valid && cidade.touched">Cidade</label>
          <input type="cidade" class="form-control" id="cidade" 
              name="cidade" ngModel required  #cidade="ngModel" >
              
          <app-campo-control-erro 
            [mostrarErro]="verificaValidTouched(cidade)" 
            [msgErro]="msgErro(cidade)"
            [mudarAltura]="true" >
          </app-campo-control-erro>
        </div>

        <div class="col-sm-3" [ngClass]="aplicaCssErro(estado)" >
          <label for="estado" [class.control-label]="!estado.valid && estado.touched">Estado</label>
          <input type="estado" class="form-control" id="estado" 
              name="estado" ngModel required  #estado="ngModel" >
              
          <app-campo-control-erro 
            [mostrarErro]="verificaValidTouched(estado)" 
            [msgErro]="msgErro(estado)"
            [mudarAltura]="true" >
          </app-campo-control-erro>
        </div>

    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enviar</button>

  <app-form-debug [form]="f"></app-form-debug>
</form>